@import '../../style/variables.css';

.station-selector {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border-radius: 10px;
    background: var(--color-bg-panel);
    box-shadow: var(--box-shadow);
    color: var(--color-text-primary);
    margin-bottom: 20px;
    transition: all 0.3s ease;
}

/* Tab navigation */
.tabs {
    display: flex;
    border-bottom: var(--border);
    margin-bottom: 1.5rem;
}

.tab {
    padding: 0.75rem 1.25rem;
    border: none;
    background: none;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    color: var(--color-text-tertiary);
    position: relative;
}

.tab:hover {
    color: var(--color-text-primary);
}

.active-tab {
    color: var(--color-text-secondary);
    font-weight: 600;
}

.active-tab::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-text-primary);
    border-radius: 2px 2px 0 0;
}

.station-selector h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    color: var(--color-text-primary);
    text-shadow: 0 2px 4px var(--color-text-primary);
}

.search-bar {
    margin-bottom: 20px;
}

.search-input {
    width: 90%;
    padding: 12px 15px;
    border-radius: 25px;
    border: none;
    background-color: var(--color-bg-input);
    color: var(--color-text-primary);
    font-size: 16px;
    outline: none;
    transition: all 0.3s ease;
}

.search-input:focus {
    background-color: var(--color-bg-input-focus);
    box-shadow: 0 0 0 2px var(--color-button-bg-hover);
}

.search-input::placeholder {
    color: var(--color-text-tertiary);
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: var(--border);
}

.filter-group {
    flex: 1;
    min-width: 150px;
}

.filter-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: var(--color-text-tertiary);
}

.filter-group select {
    width: 100%;
    padding: 8px 30px 12px 8px;
    border:  var(--border);
    background-color: var(--color-bg-input);
    color: var(--color-text-primary);
    font-size: 14px;
    outline: none;
    cursor: pointer;
    border-radius: 25px;
    appearance: none; /* Removes default browser styling */
    -webkit-appearance: none; /* Safari */
    -moz-appearance: none; /* Firefox */
    position: relative;

    background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
}

/* For Webkit browsers (Chrome, Safari) */
.filter-group select option {
    background-color: var(--color-bg-panel);
    color: var(--color-text-primary);
}

.filter-group select:focus {
    border-color: var(--color-bg-input-focus);
}

.active-filter {
    border: 2px solid var(--color-tag-bg);
    background-color: var(--color-bg-input-focus);
    box-shadow: var(--box-shadow);
}

.error {
    color: var(--color-bg-error);
}

.stations-list {
    margin-bottom: 20px;
}

.station-item {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    background-color: var(--color-bg-item);
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.station-item:hover {
    background-color: var(--color-bg-item-hover);
    transform: translateY(-2px);
}

.station-logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-input);
    border-radius: 8px;
    overflow: hidden;
}

.station-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.default-logo {
    font-size: 24px;
}

.station-info {
    flex: 1;
}

.station-name {
    margin: 0 0 5px 0;
    font-size: 18px;
    font-weight: 600;
}

.station-details {
    font-size: 13px;
    color: var(--color-text-tertiary);
    margin-bottom: 5px;
}

.station-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag {
    font-size: 11px;
    padding: 2px 6px;
    background-color: var(--color-tag-bg);
    border-radius: 4px;
    color: var(--color-tag-text);
}

.symbols {
    display: flex;
    align-items: center;
    gap: 10px; /* Adds spacing between symbols */
    font-size: 14px;
}

.symbol {
    font-size: 16px;
    display: inline-flex;
    transition: transform 0.2s ease-in-out;
}

.star {
    font-size: 22px !important;
}

.symbol:hover {
    transform: scale(1.3);
}

.symbol.selected {
    color: var(--color-tag-bg);
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
}

.page-button {
    padding: 8px 15px;
    background-color: var(--color-tag-bg);
    border: none;
    border-radius: 4px;
    color: var(--color-text-primary);
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.page-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.page-button:not(:disabled):hover {
    background-color: rgba(66, 153, 225, 0.5);
}

.page-info {
    font-size: 14px;
    color: var(--color-text-tertiary);
}

.page-info > input {
    width: 3rem;
    padding: 8px 12px;
    border-radius: 4px;
    border: var(--border);
    background-color: var(--color-bg-input);
    color: var(--color-text-primary);
    font-size: 14px;
    outline: none;
}

@media (max-width: 600px) {
    .filters {
        flex-direction: column;
        gap: 10px;
    }

    .filter-group {
        width: 100%;
    }

    .station-item {
        flex-direction: column;
        align-items: flex-start;
    }

    .station-logo {
        margin-right: 0;
        margin-bottom: 10px;
    }
}