.radio-app {
	width: 100vw;
	height: 100vh;
	box-sizing: border-box;
	display: grid;
	grid-template-columns: min-content 1fr;
	grid-template-rows: 1fr auto;
	background: linear-gradient(45deg, var(--color-bg-700), var(--color-bg-500));
	
}
