.play-button {
	justify-self: center;
	width: 44px;
	height: 44px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	border-radius: 50%;
	flex-shrink: 0;

	border-width: 2px;
	border-style: solid;

	color: var(--color-text-hard);
	border-color: var(--color-text-hard);
	background-color: var(--color-bg-left);

	transition: transform 0.2s ease, background-color 0.2s ease, color 0.2s
		ease, border-color 0.2s ease;
}

.play-button:hover,
.play-button:focus {
	transform: scale(1.1);
	color: var(--color-focus);
	border-color: var(--color-focus);
}

.play-button:active {
	transform: scale(0.95);
}

.play-button svg {
	width: 22px;
	height: 22px;
	fill: currentColor;
	transition: unset;
}

.action-retry {
	color: var(--color-error);
	border-color: var(--color-error);
}

.action-loading {
	color: var(--color-loading);
	border-color: var(--color-loading);
}

.action-playing {
	color: var(--color-accent);
	border-color: var(--color-accent);
}
