.station-selector {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	flex-wrap: wrap;
	padding: 1em;
	background: var(--color-bg-500);
}

.station-selector > .title {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.station-selector > .title > h2 {
	margin: 0;
}

.station-selector > .title > svg {
	max-height: 3rem;
}

.filter-group {
	display: flex;
	min-width: 20em;
	gap: 1em;
	align-items: center;
}

.hidden-input-group > select {
	opacity: 0;
	transition: opacity 0.5s ease, flex 0.5s ease;
	flex: 0;
	width: 0;
}

.hidden-input-group:hover > select,
.hidden-input-group > select:focus,
.hidden-input-group.active-filter > select {
	opacity: 1;
	flex: 1;
}

.hidden-input-group > select:focus,
.hidden-input-group.active-filter > select {
	border-color: var(--color-strong);
	outline: 0;
	box-shadow: 0 0 0 0.25rem rgba(0, 123, 255, 0.25);
}

.divider {
	width: 100%;
	margin: 0.5em 0;
	border-bottom: 1px solid var(--color-text-soft);
}

.station-selector .tab {
	cursor: pointer;
	border-bottom: 1px solid hsl(0, 0%, 0%, 0);
	/*padding: 0 1em;*/
	justify-self: start;
	align-self: start;
	transition: border-color 0.5s ease, transform 0.5s ease, color 0.5s ease;
	line-height: 2em;
}

.station-selector .tab:hover:not(.active-tab) {
	border-bottom: 1px solid var(--color-text-hard);
	transform: translateY(-0.2rem);
}

.station-selector .active-tab {
	border-bottom: 1px solid var(--color-strong);
	color: var(--color-strong);
}

.pagination {
	display: flex;
	align-items: center;
	align-content: center;
}

.pagination input {
	width: 4em;
}

.pagination > button {
	display: flex;
	align-items: center;
}

.explorer-exclusive {
	opacity: 0;
	transition: opacity 0.5s ease;
}

.explorer-active .explorer-excluseive {
	opacity: 1;
}
