.station-list {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	overflow: auto;
}

.station-list-wrapper {
	justify-content: center;
	justify-items: center;
	align-items: center;

	display: grid;
	grid-template-columns: repeat(auto-fill, 28rem);
	grid-template-rows: repeat(auto-fill, 4em);

	gap: 1.5rem;
	padding: 1.5rem;
}

/* Cards */
.card {
	position: relative;
	background-color: hsla(0, 0%, 80%, 0.1);
	border-radius: var(--border-radius-general);
	box-shadow: var(--card-box-shadow);
	display: flex;
	gap: 0.5em;
	height: 4em;
	width: 28em;
	transition: transform 0.3s ease;
	overflow: hidden;
}

.card:hover {
	transform: scale(1.05);
}

.card:focus-within {
	outline: 1px solid var(--color-accent);
}

.card .station-logo {
	display: block;
	aspect-ratio: 1;
	height: 100%;
	object-fit: contain;
}

.card .default-logo {
	font-size: 3em;
	color: var(--color-text-soft);
	display: flex;
	justify-content: center;
	align-items: center;
}

.card .default-logo svg {
	width: 80%;
	height: 80%;
}

.card-body {
	display:flex;
	flex-direction: column;
	text-wrap: nowrap;
	overflow: hidden;
	width: 16rem;
	text-overflow: ellipsis;
	justify-content: center;
}

.card-body > h4 {
	margin: 0;
}

.card-button {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	z-index: 1;
}

.station-list .actions {
	z-index: 2;
	display: flex;
	padding: 0.5em;
	justify-content: center;
	align-items: center;
	gap: 0.5em;
	color: var(--color-text-soft);
}
.station-list .icon-button{
	transition: opacity 0.5s ease, transform .5s ease;
}

.station-list .icon-button:not(.filled) {
	opacity: 0;
}

.station-list .actions:focus-within .icon-button, .station-list .card:hover .actions .icon-button {
	opacity: 1;
}


