:root {
    --color-bg-main: linear-gradient(145deg, hsl(210, 25%, 15%), hsl(210, 25%, 18%));
    --color-bg-panel: linear-gradient(145deg, hsl(210, 25%, 20%), hsl(210, 25%, 25%));

    --bar-hue-start: hsla(190, 80%, 45%, 0.6); /* Teal blue */
    --bar-hue-end: hsla(230, 75%, 50%, 0.7);  /* Muted indigo */

    --color-bg-input: hsla(0, 0%, 100%, 0.1);
    --color-bg-input-focus: hsla(0, 0%, 100%, 0.2);

    --color-bg-item: hsla(0, 0%, 100%, 0.05);
    --color-bg-item-hover: hsla(0, 0%, 100%, 0.1);

    --color-text-primary: hsl(210, 20%, 85%);
    --color-text-secondary: hsl(210, 20%, 65%);
    --color-text-tertiary: hsl(210, 15%, 50%);
    --color-text-inverse: hsl(210, 25%, 10%);
    --color-text-header-primary: hsl(180, 50%, 55%);

    --border-radius: 6px;

    --border-color: var(--color-bg-main);
    --border: 1px solid hsla(0, 0%, 100%, 0.1);

    --text-shadow: 0 2px 4px hsla(0, 0%, 0%, 0.5);
    --box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.3), -2px -2px 5px hsla(0, 0%, 100%, 0.05);

    --font-primary: 'Rubik', 'Segoe UI', sans-serif !important;
    --font-secondary: 'Quicksand', 'Arial', sans-serif !important;

    --color-button-bg: linear-gradient(145deg, hsl(180, 50%, 40%), hsl(180, 50%, 35%));
    --color-button-bg-hover: linear-gradient(145deg, hsl(180, 50%, 50%), hsl(180, 50%, 40%));

    --color-button-playing: linear-gradient(145deg, hsl(0, 60%, 60%), hsl(0, 60%, 50%));
    --color-button-loading: linear-gradient(145deg, hsl(0, 60%, 60%), hsl(0, 60%, 50%));
    --color-button-pausing: linear-gradient(145deg, hsl(0, 60%, 60%), hsl(0, 60%, 50%));


    --color-tag-bg: hsla(180, 50%, 50%, 0.3);
    --color-tag-text: hsl(210, 20%, 65%);

    /* play/resume/reload buttons */
    --color-text-play-button-play: hsl(219, 28%, 88%);
    --color-text-play-button-pause: hsl(219, 28%, 88%);
    --color-text-play-button-retry: hsl(219, 28%, 88%);

    --color-play-button-play: hsl(193, 43%, 67%);
    --color-play-button-pause: hsl(213, 32%, 52%);
    --color-play-button-retry: hsl(354, 42%, 56%);

    /* stream status */
    --color-bg-online: hsla(140, 45%, 50%, 0.3);
    --color-bg-loading: hsl(180, 50%, 40%);
    --color-bg-pause: hsl(0, 60%, 60%);
    --color-bg-error: hsla(350, 80%, 60%, 0.3);
}